<nav id="navbar" class="navbar  fixed-top navbar-light bg-light">
  <div class="container navb-cont">
    <div class="row align-items-center">
      <div class="col-12	col-sm-12	col-md-6	col-lg-6	col-xl-6 img_l" >
        <a class="navbar-brand"><img src="../../assets/img/logoRaM.png" height="80" alt="" srcset=""></a>
      </div>
      <div class="col-12	col-sm-12	col-md-6	col-lg-6	col-xl-6 ">
      <form class="form-inline">
      <div class="searchbar ">
        <input id="formGroupExampleInput"  spellcheck="false" autocomplete="none" [formControl]="search" class="search_input" type="text" name="" placeholder="BUSCAR PERSONAJE">
        <div class="search_icon"><i class="fas fa-search "></i></div>
      </div>
      </form>
      

    </div>
    
  </div>
</div>
</nav>
